# General
matplotlib

# PyTorch
# torch==2.8.0
# torchvision==0.22.0

# Hugging Face
accelerate==1.7.0
diffusers==0.33.1
transformers==4.52.0

# Multi-GPU
deepspeed==0.15.4

# Tracking
# wandb==0.19.1

# Data Augmentation
albumentations

xattr